name: Validate
on:
  push:
    branches: [main]
  pull_request:
    types: [synchronize, opened, edited]
jobs:
  skip:
    name: Skip Duplicate Actions
    runs-on: ubuntu-latest
    outputs:
      should-skip: ${{steps.skip.outputs.should_skip}}
    steps:
      - name: Skip Duplicate Actions
        uses: fkirc/skip-duplicate-actions@f75f66ce1886f00957d99748a42c724f4330bdcf # v5
        id: skip
  actions:
    name: Lint Action Workflows
    runs-on: ubuntu-latest
    needs: skip
    if: needs.skip.outputs.should-skip != 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Review Dog - actionlint
        uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1
  check:
    name: Check
    runs-on: ubuntu-latest
    needs: skip
    if: needs.skip.outputs.should-skip != 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          cache-dependency-path: "**/package-lock.json"
          cache: npm
      - name: Install Tools
        run: npm ci
      - name: Check
        run: npm run --silent check
