name: Validate
on:
  push:
    branches: [main]
  pull_request:
    types: [synchronize, opened, edited]
jobs:
  skip:
    name: Skip Duplicate Actions
    runs-on: ubuntu-latest
    outputs:
      should-skip: ${{steps.skip.outputs.should_skip}}
    steps:
      - name: Skip Duplicate Actions
        uses: fkirc/skip-duplicate-actions@f75f66ce1886f00957d99748a42c724f4330bdcf # v5
        id: skip
  actions:
    name: Lint Action Workflows
    runs-on: ubuntu-latest
    needs: skip
    if: needs.skip.outputs.should-skip != 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Review Dog - actionlint
        uses: reviewdog/action-actionlint@0d952c597ef8459f634d7145b0b044a9699e5e43 # v1
  check:
    name: Check
    runs-on: ubuntu-latest
    needs: skip
    if: needs.skip.outputs.should-skip != 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache-dependency-path: "**/package-lock.json"
          cache: npm
      - name: Install Tools
        run: npm ci
      - name: Check
        run: npm run --silent check
